
services:
  postgres:
    ports:
      - "5433:5432"

  redis:
    ports:
      - "6379:6379"

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      APP_DEBUG: "true"
      APP_ENV: "development"

  bot:
    volumes:
      - ./bot:/app
    environment:
      APP_DEBUG: "true"

  taskiq-worker:
    volumes:
      - ./backend:/app
    command: taskiq worker app.tasks.broker:broker --fs-discover --reload

  taskiq-scheduler:
    volumes:
      - ./backend:/app

  nginx:
    ports:
      - "80:80"
